@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-body">
    <div class="card-title">
        <h4>Çalışan Listesi</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Referans Görsel</th>
                    <th>Referans Adı</th>
                    <th>Referans Ünvan</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TestimonialId</td>
                        <td>@item.Image</td>
                        <td>@item.Name</td>
                        <td>@item.Title</td>
                        <td><a href="/Staff/DeleteStaff/@item.TestimonialId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                        <td><a href="/Staff/UpdateStaff/@item.TestimonialId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
                        <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a href="/Testimonial/AddTestimonial" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Referans Girişi</a>

